@{
    ViewBag.Title = "Home Page";
}
<!--
    File: Index.cshtml
    Authors: Yuji Fujiyama, John Allan, Lucy Kang
    Website: VendComp Electronics
    Description: Landing page
-->
<div class="jumbotron" style="background-image: url(/Assets/Images/Home-Banner.png); background-size: cover;">

    <div class="panel jumbotron-panel">
        <h1 class="text-center"><img src="~/Assets/Images/Logo.png" style="max-height: 100px" /> VendComp</h1>
        <p class="text-success">@ViewBag.StatusMessage</p>
        <p class="container lead">What do you need your computer for? Whether you need an office computer or a heavy duty gaming computer, we have it all.</p>
        <div class="text-center">
            <a href="@Url.Action("Index", "Products")" class="btn btn-submit btn-lg">Find Your Computer &raquo;</a>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-4" style="border-right: 1px solid white">
        <h2>Interested in Us?</h2>
        <p>
            No matter why you're interested in us, whether it be because you want to take a peek at why people here
            or whether you're interested in joining our community like many others.
        </p>
        <p><a class="btn btn-info" href="@Url.Action("About", "Home")">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4" style="border-right: 1px solid white">
        <h2>Still Curious?</h2>
        <p>Read our About page but still have questions or want to speak with one of us? Go ahead and feel free and contact us via any provided medium on our contact page.</p>
        <p><a class="btn btn-warning" href="@Url.Action("Contact", "Home")">Make contact &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Are You Registered?</h2>
        <p>If you would like to get notifications for our new products and special deals monthly or simply would like to checkout at the end, please register with us!</p>
        <p><a class="btn btn-success" href="@Url.Action("Register", "Account")">See for yourself &raquo;</a></p>
    </div>
</div>
