@model Ecommerce_p1.Models.CartOrderViewModel
@{
    ViewBag.Title = "Confirm";
}
<!--
    File: Checkout/Confirm.cshtml
    Authors: Yuji Fujiyama, John Allan, Lucy Kang
    Website: VendComp Electronics
    Description: This page displays check out confirmation page with order and user information.
-->

<h2>Order Confirmation</h2>
<p>Please click the button below to finalize your order.</p>

<div class="container">
    <div class="row">
        <div class="col-sm-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h2 class="panel-title" style="font-size: 20px">Your Items</h2>
                </div>
                <div class="panel-body">
                    @foreach (var item in Model.CartItems)
                    {
                        <div class="row" style="height: 50px; margin-left: 10px;">
                            <div class="col-xs-4">
                                <img src="@item.Product.ImageURL" style="float: left; height: 50px;" />
                            </div>
                            <div class="col-xs-8">
                                <p class="text-muted">$@item.Product.Price x @item.Count</p>
                                <p>Total: $@(item.Product.Price * item.Count)</p>
                            </div>
                        </div>
                        <hr/>
                    }
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h2 class="panel-title" style="font-size: 20px">Shipping Information</h2>
                    </div>
                    <div class="panel-body">
                        <h5 style="font-weight: bold;">Address</h5>
                        <p>
                            @Model.Street
                            @if (Model.Apt != null)
                            {
                                <span>Apt: @Model.Apt</span>
                            }

                        </p>
                        <p>@Model.City, @Model.Province</p>
                        <p>@Model.Postal, @Model.Country</p>
                    </div>
                    <div class="panel-body">
                        <h5 style="font-weight: bold;">Contact Information</h5>
                        <p>Email: @Model.Email</p>
                        <p>Phone: @Model.Phone</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-4">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h2 class="panel-title" style="font-size: 20px">Order Total</h2>
                        </div>
                        <div class="panel-body">
                            <p style="font-weight: bold; font-size: 15px;">Total Amount: $@Model.CartTotal</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="text-center">
        <div class="btn btn-yellow">@Html.ActionLink("Confirm Order", "Complete", new { id = Model.OrderId })</div>
    </div>
</div> <!-- /container -->
