@model Ecommerce_p1.Models.CartOrderViewModel
@{
    ViewBag.Title = "Confirm";
}
<!--
    File: Checkout/Confirm.cshtml
    Authors: Yuji Fujiyama, John Allan, Lucy Kang
    Website: VendComp Electronics
    Description: This page displays check out confirmation page with order and user information.
-->

<h2>Checkout Confirmation</h2>
<p>Please click the button below to finalize your order.</p>

<div class="container">
    <div class="row">
        <div class="col-sm-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h2 class="panel-title">Items</h2>
                </div>
                <div class="panel-body">
                    <h5>What you're purchasing</h5>
                    @foreach (var item in Model.CartItems)
                    {
                        <div class="row" style="border-bottom: 1px solid #CCC; height: 50px;">
                            <img src="@item.Product.ImageURL" style="float: left; height: 100%;" />
                            <p class="text-muted">$@item.Product.Price x @item.Count</p>
                            <p>Total: $@(item.Product.Price * item.Count)</p>
                        </div>
                    }
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h2 class="panel-title">Shipping Information</h2>
                    </div>
                    <div class="panel-body">
                        <h5>Address</h5>
                        <p>
                            @Model.Street
                            @if (Model.Apt != null)
                            {
                                <span>Apt: @Model.Apt</span>
                            }

                        </p>
                        <p>@Model.City, @Model.Province</p>
                        <p>@Model.Postal, @Model.Country</p>
                    </div>
                    <div class="panel-body">
                        <h5>Contact Information: </h5>
                        <p>Email: @Model.Email</p>
                        <p>Phone: @Model.Phone</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-4">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h2 class="panel-title">Order Total and Payment Method</h2>
                        </div>
                        <div class="panel-body">
                            <h5>Please Confirm:</h5>
                            <p>Total Amount: $@Model.CartTotal</p>
                            @*<p>Payment Method: @Model.PaymentMethod</p>*@
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="text-center">
        @*@using (Html.BeginForm("Purchase"))
        {*@

            @Html.ActionLink("Confirm Order", "Purchase", new { order = Model });
    </div>
</div> <!-- /container -->
