@model Ecommerce_p1.Models.Order
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!--
    File: Checkout/Index.cshtml
    Authors: Yuji Fujiyama, John Allan, Lucy Kang
    Website: VendComp Electronics
    Description: This page displays the check out form for customers to fill in.
-->

<div class="container">

    <div class="masthead">
        <h3 class="muted">Order Information</h3>

        @using (Html.BeginForm())
            {
            <div class="row">
                <div class="col-sm-6">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title">Shipping Information</h3>
                        </div>
                        <div class="panel-body">
                            <div class="col-sm-12">
                                <div class="alert alert-info"><span class="text-error">*</span> indicates required field</div>
                                <form class="form-horizontal">
                                    <div class="control-group">
                                        <div class="col-md-2">
                                            @Html.LabelFor(Email => Model.Email, new { htmlAttributes = new { @class = "control-label" } })
                                        </div>
                                        <div class="col-sm-10">
                                            @Html.EditorFor(Email => Model.Email, new { htmlAttributes = new { @class = "form-control" } })
                                        </div>
                                    </div>
                                    <div class="control-group">
                                        <div class="col-md-2">
                                            @Html.LabelFor(Firstname => Model.Firstname, new { htmlAttributes = new { @class = "control-label" } })
                                        </div>
                                        <div class="col-sm-10">
                                            @Html.EditorFor(Firstname => Model.Firstname, new { htmlAttributes = new { @class = "form-control" } })
                                        </div>
                                    </div>
                                    <div class="control-group">
                                        <div class="col-md-2">
                                            @Html.LabelFor(Lastname => Model.Lastname, new { htmlAttributes = new { @class = "control-label" } })
                                        </div>
                                        <div class="col-sm-10">
                                            @Html.EditorFor(Lastname => Model.Lastname, new { htmlAttributes = new { @class = "form-control" } })
                                        </div>
                                    </div>
                                    <div class="control-group">
                                        <div class="col-md-2">
                                            @Html.LabelFor(Address => Model.Address, new { htmlAttributes = new { @class = "control-label" } })
                                        </div>
                                        <div class="col-sm-10">
                                            @Html.EditorFor(Address => Model.Address, new { htmlAttributes = new { @class = "form-control" } })
                                        </div>
                                    </div>
                                    <div class="control-group">
                                        <div class="col-md-2">
                                            @Html.LabelFor(City => Model.City, new { htmlAttributes = new { @class = "control-label" } })
                                        </div>
                                        <div class="col-sm-10">
                                            @Html.EditorFor(City => Model.City, new { htmlAttributes = new { @class = "form-control" } })
                                        </div>
                                    </div>
                                    <div class="control-group">
                                        <div class="col-md-2">
                                            @Html.LabelFor(Province => Model.Province, new { htmlAttributes = new { @class = "control-label" } })
                                        </div>
                                        <div class="col-sm-10">
                                            @Html.EditorFor(Province => Model.Province, new { htmlAttributes = new { @class = "form-control" } })
                                        </div>
                                    </div>
                                    <div class="control-group">
                                        <div class="col-md-2">
                                            @Html.LabelFor(PostalCode => Model.PostalCode, new { htmlAttributes = new { @class = "control-label" } })
                                        </div>
                                        <div class="col-sm-10">
                                            @Html.EditorFor(PostalCode => Model.PostalCode, new { htmlAttributes = new { @class = "form-control" } })
                                        </div>
                                    </div>
                                    <div class="control-group">
                                        <div class="col-md-2">
                                            @Html.LabelFor(Phone => Model.Phone, new { htmlAttributes = new { @class = "control-label" } })
                                        </div>
                                        <div class="col-sm-10">
                                            @Html.EditorFor(Phone => Model.Phone, new { htmlAttributes = new { @class = "form-control" } })
                                        </div>
                                    </div>
                                    <div class="control-group">
                                        <div class="col-md-2">
                                            @Html.LabelFor(Country => Model.Country, new { htmlAttributes = new { @class = "control-label" } })
                                        </div>
                                        <div class="col-sm-10">
                                           @Html.EditorFor(Country => Model.Country, new { htmlAttributes = new { @class = "form-control" } })
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title">Payment Methods</h3>
                        </div>
                        <div class="panel-body text-center">
                            <div class="text-center">
                                <label class="radio-inline"><input type="radio" required name="paymentType" value="credit"> Visa</label>
                                <label class="radio-inline"><input type="radio" required name="paymentType" value="credit"> Mastercard </label>
                                <label class="radio-inline"><input type="radio" required name="paymentType" value="debit"> Debit</label>
                                <label class="radio-inline"><input type="radio" required name="paymentType" value="paypal"> Paypal</label>
                            </div>
                            <br /><br />
                            <img src="~/Assets/Images/Visa.svg.png" alt="visa" height="50px" />
                            <img src="~/Assets/Images/mastercard-logo-big.gif" alt="master" height="50px" />
                            <img src="~/Assets/Images/interac-logo.jpg" alt="debit" height="50px" />
                            <img src="~/Assets/Images/PayPal-Logo.png" alt="paypal" height="50px" />
                        </div>
                    </div>
                    <div class="text-center">
                        <button type="submit" class="btn btn-submit">Checkout</button>
                        <a class="btn btn-red" href="/Carts/Index">Back</a>
                    </div>
                </div>
            </div>
        }


    </div>

</div> <!-- /container -->
