@model Ecommerce_p1.Models.Product

@{
    ViewBag.Title = "Details";
}
<!--
    File: Products/Details.cshtml
    Authors: Yuji Fujiyama, John Allan, Lucy Kang
    Website: VendComp Electronics
    Description: This page displays the detailed information about the product.
-->

<h2>@Model.BrandName @Model.ProductName </h2>
<hr />
<div class="row product-detail-row">
    <div class="col-sm-6 col-md-5">
        <img class="img-responsive" src="@Model.ImageURL" height="350"/>
    </div>
    <div class="col-sm-6 col-md-offset-1 col-md-6"> <br/>
        <div class="row">
            <div class="col-xs-6 col-sm-6 col-md-6 detail-title">
                <p>Brand: </p>
                <p>Category: </p>
                <p>Price: </p>
            </div>
            <div class="col-xs-6 col-sm-6 col-md-6 detail-title">
                <p>@Model.BrandName</p>
                <p>@Model.Type</p>
                <p>$ @Model.Price</p>
            </div>
        </div>
        <br/>
        <p class="">
            <a href="/Carts/AddToCart/@Model.Id" role="button" class="btn btn-submit btn-md">
                <span class="glyphicon glyphicon-shopping-cart"></span> Add To Cart
            </a>
        </p>
    </div>
</div>
<br />
<div class="row product-detail-row">
    <div class="container">
        <h2>About This Product</h2>
        <p class="text-justify description">@Model.Description</p>
    </div>
    <div class="text-center">
        <a class="btn btn-red" href="@Url.Action("Index", new { href = Request.UrlReferrer }))">Back</a>
    </div>
</div>