@model IEnumerable<Ecommerce_p1.Models.Product>

@{
    ViewBag.Title = "Products";
}

<h2>@ViewBag.Title</h2>

<p>
   @* @Html.ActionLink("Create New", "Create") *@
</p>
@foreach (var item in Model)
{
    <div class="col-xs-6 col-sm-6 col-md-4 text-center">
        <div class="thumbnail">
            <a href="@Url.Action("Details", new { id = item.Id })">
                <img class="img-responsive" src="@item.ImageURL" />
                <div class="caption">
                    <h4>@item.ProductName <span class="label label-danger">NEW</span></h4>
                    <h5>$ @item.Price</h5>
                    <p>
                        <a href="/Carts/AddToCart/@item.Id" role="button" class="btn btn-submit btn-sm">
                            <span class="glyphicon glyphicon-shopping-cart"></span> Add To Cart
                        </a>
                    </p>
                </div>
            </a>
        </div>
    </div>
}

@*
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ProductName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BrandName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Type)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ImageURL)
            </th>
            <th></th>
        </tr>

    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ProductName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BrandName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Type)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ImageURL)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
                @Html.ActionLink("Details", "Details", new { id=item.Id }) |
                @Html.ActionLink("Delete", "Delete", new { id=item.Id })
            </td>
        </tr>
    }

    </table>
*@