<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - VendComp</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @RenderSection("css", required: false)
</head>
<body>
    <div class="navbar navbar-default navbar-transparent navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="@Url.Action("Index", "Home")"><img alt="VendComp" src="~/Assets/Images/Logo.png"/> <span>VendComp</span></a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav navbar-left">
                    <li><a href="@Url.Action("Index", "Home")"><i class="fa fa-lg fa-home"></i> Home</a></li>
                    <li><a href="@Url.Action("About", "Home")"><i class="fa fa-lg fa-info-circle"></i> About</a></li>
                    <li><a href="@Url.Action("Index", "Products")"><i class="fa fa-lg fa-laptop"></i> Store</a></li>
                    <li><a href="@Url.Action("Contact", "Home")"><i class="fa fa-lg fa-envelope-o"></i> Contact</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    @* Shopping Cart link goes here *@
                    <li><a href="#"><i class="fa fa-lg fa-shopping-cart"></i></a></li>
                    @Html.Partial("_LoginPartial")
                </ul>
            </div>
            <div class="navbar-collapse collapse navbar-right">
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        
        <footer class="footer">
            <hr />
            <p>&copy; @DateTime.Now.Year - VendComp</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
