@model Ecommerce_p1.Models.Cart

@{
    ViewBag.Title = "Delete";
}
@{ decimal total = 0;}

<!--
    File: Carts/Delete.cshtml
    Authors: Yuji Fujiyama, John Allan, Lucy Kang
    Website: VendComp Electronics
    Description: This page confirms with user if they really want to remove an item from a cart.
-->

<h2>Delete</h2>

<h3></h3>
<div>
    <h4>Are you sure you want to delete this product from shopping cart?</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Product.ProductName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Product.ProductName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Count)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Count)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Product.Price)
        </dt>

        <dd>
            @{total += Model.Product.Price * Model.Count;}
            $ @total
        </dd>
    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-red" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
